*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */

header{
  background-color: white;
  padding: 20px 10px;
}

.logo-title {
  display: inline;
}

.logo, .logo-title {
  vertical-align: middle;
}

/* Main */