*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */

header{
  background-color: white;
  padding: 20px 10px;
  margin-bottom: 30px;
}

.logo-title {
  display: inline;
}

.logo, .logo-title {
  vertical-align: middle;
}

.logo-title{
  font-size: 40px;
}

/* Main */

.main{
  background-color: white;
  margin: auto;
  width: 70%;
  padding: 10px 50px;
  border-bottom: 3px solid #f6f8f9
}

button{
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
}

button.button1{
  color: #ffffff;
  background-color: #47adf1;
}

button.button2{
  color: #d6dade;
  background-color: #ffffff;
}

.main.section{
  height: 600px;
  padding: 30px 50px;
}

h3{
  padding-top: 10px;
}

h3::before{
  content: '\25BE';
}

.thingstodo.yes::before{
  content: '\2713   ';
  color: green;
  border: 2px solid green;
  border-radius: 50%;
}

.thingstodo.nope::before{
  content: '\2715   ';
  color: red;
  border: 2px solid red;
  border-radius: 50%;
}

.thingstodo{
  margin: 15px 0;
}

.colored{
  padding: 5px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 10px;
}

.colored.blue{
  background-color: #45abea;
}

.colored.purple{
  background-color: #9c72e4;
}

.colored.green{
  background-color: #64c0a9;
}

.colored.orange{
  background-color: #f29c2f;
}

.colored.ocra{
  background-color: #b0c926;
}

.colored.pink{
  background-color: #d862a1;
}